nav{
    background-color: #30553a;
}
#btn-cadastro-funcionario, 
#btn-atualizar-funcionario, 
#btn-filtrar-nome,
#btn-atualizar-vacina,
#btn-verifica-usuario{
    background-color: #30553a;
    color: white;
}